<h4> Create new user! </h4>

<%= flash[:error] %>

<form action="/users/create" method="post">
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<p> First Name </p> 
	<p> <input type="text" name="first_name"> </p>
	<p> Last Name </p> 
	<p> <input type="text" name="last_name"> </p>
	<p> Email </p> 
	<p> <input type="text" name="email_address"> </p>
	<p> Password </p> 
	<p> <input type="password" name="password"> </p>
	<p> <input type="submit" name="create" value="Create"> </p>
</form>

<a href="/users/index" method="post"> Go back! </a>