<!DOCTYPE html>
<html>
<head>
	<title>Random Word Generator</title>
</head>
<body>
<p>Random Word (attempt #<%=session[:attempt]%>)</p>
<h1><%=session[:random_word]%></h1>
<form action='/generate' method='post'>
	<input name='authenticity_token' value="<%= form_authenticity_token %>" type='hidden'>
	<input type='submit' value='generate'>
</form>
</body>
</html>