<h1>New Pokemon</h1>
<form action="/pokemons" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="text" name="name">
	<input type="submit" value="create Pokemon">
</form>
