<div>
	<div>
		<h2>Random Word</h2>
		<p>This should be a (random word #<%= session[:counter] %>) </p>
		<form action="/create_word" method = 'post'>
     <%= session[:random_word] if session[:random_word].present? %>
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

         <input type='submit' value='generate'>
</form>
	</div>
</div>