<h1>User Registration</h1>
<form>
    First Name: <input type="text" name="first_name">
    Last Name: <input type="text" name="last_name">
    Email: <input type="email" name="email">
    Password: <input type="password" name="password">
    <!-- Confirm password: <input type="password" name="password_confirm"> -->
    <input type="submit" value="Submit">
</form>
