<!DOCTYPE html>
<html>
<head>
	<title>New</title>
</head>
<body>
<h1>New User!</h1>
<form action='/users/' method='post'>
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<input type='text' name='name'>
	<input type='submit' value='Create'>
</form>
</body>
</html>