<h1>Random Word Generator</h1>
<% if session[:count] %>
    <h5>Random Word (attempt #<%= session[:count] %>):</h5>
<% end %>
<% if session[:word] %>
    <h3><%= session[:word] %></h3>
<% end %>
<form action="/generator" method="post">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />
    <input type="submit" value="Generate!" />
</form>
