<h2>New User</h2>

<%=flash[:error]%>



<form action="/users/create" method="post">
     <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    First name: <input type="text" name="first_name">
    Last name: <input type="text" name="last_name">
    Email: <input type="text" name="email_address">
    Password: <input type="password" name="password">
    <input type="submit" value="Create">
</form>
<br>
<a href="/"> Back </a>
