<h3>Survey Form</h3>
<% if flash[:alert] %>
    <div class="alert">
        <% for alert in flash[:alert] %>
            <p><%= alert %></p>
        <% end %>
    </div>
<% end %>
<form action="/survey" method="post">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <p>Your Name: <input type="text" name="survey[username]" /></p>
    <p>Dojo Location:
        <select name="survey[location]">
            <option value="Seattle">Seattle, WA</option>
            <option value="California">Mountain View, CA</option>
            <option value="Washington">Washington, DC</option>
            <option value="Chicago">Chicago, IL</option>
        </select></p>
    <p>Favorite Language:
        <select name="survey[language]">
            <option value="PHP">PHP</option>
            <option value="Python">Python</option>
            <option value="Javascript">Javascript</option>
            <option value="Ruby">Ruby</option>
        </select></p>
    <p>Comment:</p>
    <textarea name="survey[comment]" rows="8" cols="40"></textarea>
    <input type="submit" value="Submit Survey" />
</form>
