<body style="text-align:center">
    <h4 style="display:inline-block; border: solid black 1px; padding:0.5rem">The current time and date:</h4>
    <br>
    <div style="display:inline-block; border: solid black 1px; width: 60%; font-size:4rem; padding:0.5rem">
        <%= @date %>
        <br>
        <%= @time %>
    </div>
</body>
