<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>
<form>
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<input type="name" name="name" value="<%= @user.name %>">
	<input type="submit" name="submit">
</form>
