<h1>Create a new User!</h1>
<form action="" method="">
 	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<input type="name" name="name">
	<input type="submit" name="submit">
</form>
