<h1>Edit User</h1>
<form action="/users/<%= params[:id] %>" method="patch">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input type="text" name="name" value="<%= @name %>">
    <input type="submit">
</form>
