<form action="/dataret" method="post">
	 <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	Your Name: <input type="text" name="name">
	Dojo Location : <input type="text" name="location">
	Favorite Language: <select name="language">
							<option value="Javascript">Javascript</option>
							<option value="French">French</option>
					   </select>
	Comment: <textarea name="comment"></textarea>
	<input type="submit" name="Submit">
</form>