<h1>SurveyForm#index</h1>

<form class="form" action="/survey_form/add" method="post">
  <p>Your Name: <input type="text" name="name"></p>
  <p>Dojo Location:
    <select>
      <option>Moutain view</option>
      <option>Washington</option>
      <option>San Fran</option>
      <option>San Diego</option>
    </select>
    </p>

  <p>Favorite Language:
    <select>
      <option>Javascript</option>
      <option>Python</option>
      <option>Not Ruby</option>
      <option>Java</option>
    </select>
  </p>
  <p>Comment: <input type="text" name="comment"></p>
  <p><input type="submit"></p>
</form>
