<div class="">
  <form action="/user/login" method="post">
    <p>email: <input type="text" name="email" ></p>
    <p>password: <input type="text" name="password" ></p>
    <p><input type="submit" value="Login"></p>
  </form>
</div>

<div class="">
  <form action="/user/register" method="post">
    <p>name: <input type="text" name="name" ></p>
    <p>email: <input type="text" name="email" ></p>
    <p>password: <input type="text" name="password" ></p>
    <p>confirm password: <input type="text" name="confirm_password" ></p>

    <p><input type="submit" value="Join"></p>
  </form>

</div>
