<!DOCTYPE html>
<html>
<head>
	<title>Great Number Game</title>
</head>
<body>
	<h1>Welcome to the Great Number Game</h1>
	<p>I am thinking of a number between 1 and 100</p>
	<% if flash[:failure] %>
	<p><%= flash[:failure] %></p>
	<% end %>
	<% if flash[:success] %>
	<p><%= flash[:success] %></p>
	<form action='/retry' method='post'>
		<input name='authenticity_token' value='<%=form_authenticity_token%>' type='hidden'>
		<input type='submit' value='Play again?'>
	</form>
	<% else %>
	<form action='/guess' method='post'>
		<input name='authenticity_token' value='<%=form_authenticity_token%>' type='hidden'>
		<input name='guess' type='number'><br>
		<input type='submit' value='Guess!'>
	</form>
	<% end %>
</body>
</html>