<div style="text-align:center">
    <h4>Random Word (attempt # <%=@count%>)</h4>
    <div style="display:inline-block; border:solid black 1px; font-size:3rem; width:50%">
        <%=@word%>
    </div>
    <br>
    <a href="/">Generate</a>
</div>
